     @charset "UTF-8";
     
     body{
        background-color: indigo;
        font-family: sans-serif;
      }
      
      h1{
        color: coral;
        background-color: burlywood;
      }

      h2{
        color: firebrick;
      }

      p {
        color: chartreuse;
      }

      a {
        color: aqua;
      }